<div class="container certification">
  <h2 class="certification__text">-Sign up-</h2>
  
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
  
    <div class="field">
      <i class="fa-solid fa-user"></i>
      <%= f.text_field :name, autofocus: true, autocomplete: "name", :placeholder => "Name", size:30 %>
    </div>
  
    <div class="field">
      <i class="fa-solid fa-envelope"></i>
      <%= f.email_field :email, autofocus: true, autocomplete: "email",:placeholder => "Email", size:30 %>
    </div>
    
    <div class="field">
      <i class="fa-solid fa-phone"></i>
      <%= f.telephone_field :telephone_number, autofocus: true, autocomplete: "telephone_number",:placeholder => "Telephone_number", size:30 %>
    </div>
    
  
    <div class="field">
      <i class="fa-solid fa-key"></i>
      <% if @minimum_password_length %>
      <% end %>
      <%= f.password_field :password, autocomplete: "new-password",:placeholder => "password", size:30 %>
    </div>
    <div class="field">
      <i class="fa-solid fa-key"></i>
      <%= f.password_field :password_confirmation, autocomplete: "new-password",:placeholder => "password", size:30 %>
    </div>
    
    <div class="field">
      <i class="fa-solid fa-people-robbery"></i>
      <%= f.select :role, User.roles.keys,{prompt: "Entertainer"}, autofocus: true, class: "certification__entertainer", autocomplete: "role" %>
    </div>
    
    <div class="field">
      <i class="fa-solid fa-cake-candles certification__birthday__icon"></i>
      <%= f.date_field :birthday, autofocus: true, autocomplete: "birthday", class: "certification__birthday", :placeholder => "Birthday" %>
    </div>
    <div class="buuton__field">
      <div class="actions">
        <%= f.submit "Sign up", class: "actions__signup" %>
        <%= render "devise/shared/links" %>
      </div>
    </div>  
  <% end %>
</div>