<div class="container">
  <div class="profile">
    <h1 class="certification__title">-Movie-</h1>
    <div class="actions">
      <div class="actions__mypr">
        <p><%= link_to "New pr", new_my_pr_path %></p>
      </div>
    </div>
    <div class="movie">
      <% @videos.each do |video| %>
        <% @video = video %>
        <div class="movie__position">
          <p><%= video.pr_title %></p>
          <%= video_tag(video.pr_movie.to_s, class: "movie__position__elm", loop: false, autoplay: true, muted: true, controls: true) %> 
          <%#(loop: trueループ再生)(autoplay: true自動再生設定)(muted: true消音設定)(controls: true動画コントローラー表示)%>
          <p><%= video.pr_explanation %></p>
            <%= video.user.name %>
          <% if video.user.id === current_user.id %>
            <div><%= link_to "Edit", edit_my_pr_path(video.id), class: "image__position__button"%></div>
          <% end %>
          <% if @video.liked_by?(current_user) %>
            <%= link_to my_pr_likes_path(@video), method: :delete do %>
              ❤<%= @video.likes.count %>いいね
            <% end %> 
          <% else %>
            <%= link_to my_pr_likes_path(@video), method: :post do %>
              ❤<%= @video.likes.count %>いいね
            <% end %>
          <% end %>  
        </div>
      <% end %>
    </div>
  </div>
</div>
