<div class="container">
  <div class="profile">
    <h1 class="certification__text">-New pr-</h1>
      <%= form_with model: @video, local: true do |f| %>
      <i class="fa-solid fa-user-pen"></i>
      <%=f.text_field :pr_title, size: 36 %><br><br>
      <div class="long__text">
        <i class="fa-solid fa-pen-fancy"></i>
        <%=f.text_area :pr_explanation, class: "certification__pr" %>
      </div><br><br>
      <span>
        <i class="fa-solid fa-video"></i>
        <%=f.file_field :pr_movie, accept: 'video/*' %><br><br>
      </span>
      <div class="actions">
      <%=f.submit "Create", class: "actions__signup" %>
      </div>
    <% end %>
  </div>
</div>