<div class="container">
  <%= react_component('MyPrsNew') %>
  <h1>MyPrs#new</h1>
  <%= form_with model: @video, local: true do |f| %>
    <p><%=f.text_field :pr_title %></p>
    <p><%=f.text_area :pr_explanation %></p>
    <p><%=f.file_field :pr_movie, accept: 'video/*' %></p>
    <p><%= f.submit "Create" %></p>
  <% end %>    
</div>