<div class="container">
 <div class="profile">
  <h1 class="certification__text">-User Edit-</h1>
    <%= form_with model: @user_data,local: true do |f| %>
      <i class="fa-solid fa-user"></i>
      <%= f.text_field :name %><br><br>
      <i class="fa-solid fa-envelope"></i>
      <%= f.email_field :email %><br><br>
      <i class="fa-solid fa-phone"></i>
      <%= f.telephone_field :telephone_number %><br><br>
      <div class="long__text">     
      <i class="fa-solid fa-user-pen"></i>
      <%= f.text_area :history, :placeholder => "芸歴＆自己紹介" %><br><br>
      </div><br><br>
      <div class="actions">
        <%= f.submit "Update", class: "actions__signup" %>
        <%= link_to "Delete", user_users_leave_path(@user_data.id), method: :delete, class: "actions__destroy" %>
      </div>
    <% end %>
  </div>
</div>