<div class="container">
 <div class="profile">    
  <h1>-User Edit-</h1>
    <%= form_with model: @user_data,local: true do |f| %>
      <%= f.label :name %><br>
      <%= f.text_field :name %><br><br>
    
      <%= f.label :email %><br>
      <%= f.email_field :email %><br><br>
    
      <%= f.label :telephone_number %><br>
      <%= f.telephone_field :telephone_number %><br><br>
            
      <%= f.label :history %><br>
      <%= f.text_area :history, size: "20x10" %><br><br>
      <%= f.submit "Update" %>
    <% end %>
    <%= link_to "Delete", user_users_leave_path(@user_data.id) %>
  </div>
</div>