<div class="container">
  
  <h1>Announces#index</h1>ああ
    <div class="movie">
    <% @announces.each do |announce| %>
      <div>
        <%= announce.user_name %>
        <%= announce.title%>
        <%= announce.explanation %>
        <%= image_tag announce.img, size: "100x100" %>
        <%= announce.time %>
      </div>
    <% end %>
  </div>
</div>
<%#= react_component('announcesIndex', { announces: @announces}) %>